@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* Header*/
header {
    display: flex;
    flex-grow: 0; /* Stay same size*/
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px 10%;
    justify-items: center;
}

.links {
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0px;
}

.header {
    color: white;
    font-family: Inter;
    margin: 0px;
}
a {
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
}

/* All boxes*/
.box {
    display: flex;
    flex: 1;
}

/* First Box*/

.description {
    background-color: #1F2937;
    padding: 80px 10%;
}
.left {
    flex: 1;
    display: flex;
    flex-direction:column;
    color: white;
    margin: 0px;
}

.left *{
    margin: 10px;
}
.left h2 {
    font-size: 48px;
    font-weight:bolder;
}

.left p {
    color: lightgray;
}

button {
    background-color: #3882F6;
    align-items: left;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 150px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../images/stars.jpg");
    background-size: 100% 100%;
}

@media screen and (min-width: 1100px) {
    .right {
        background-image: url("../images/galaxy.jpg");
        height: 300px;
    }
}

@media screen and (max-width: 919px) {
    .right {
        background-image: none; 
        flex-basis: 0px;
    }
    .left {
        flex: 1 1 100%;
    }
}

/* Second Box*/
.info {
    background-color: white;
    justify-content:space-around;
    margin: 0px 10% 40px 10%;
    flex-wrap: wrap;
    gap: 5%;
}

.black-heading {
    text-align: center;
    font-family: Inter;
    font-size: 36px;
}

.window {
    width: 300px;
    text-align: center;
}

.panel {
    border-color:#3882F6;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
}

/* Third box*/
.quote {
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 80px 0px;
}

.wording, .author{
    flex: 1;
    font-size: 36px;
}
.wording {
    color: #1F2937;
    font-style:italic;
    margin: 0px 25%;
    text-align: left;
}

.author {
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-right: 25%;
    text-align: right;
}

/* Fourth Box*/
.signup {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.bluebox {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 40px 10%;
    display: flex;
    flex: 1;
}

.subcontent {
    color: white;
    font-family: Inter;
}

.l {
    flex: 2;
    margin: 8px 5%;
}
.l p {
    margin: 1%;
}

.r {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontent button {
    width: 45%;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.bold {
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #1F2937;
    color: white;
    justify-content: center;
    font-family: Inter;
}