@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* Header*/
header {
    display: flex;
    flex-grow: 0; /* Stay same size*/
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px 80px 5px 40px;
}

.links ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0px;
}

.header {
    color: white;
    font-family: Inter;
    font-size: 18px;
    margin: 0px;
}
a {
    text-decoration: none;
    font-weight: 500;
}

.logo {
    font-weight: 700;
}

/* All boxes*/
.box {
    display: flex;
    flex: 1;
}

/* First Box*/

.description {
    background-color: #1F2937;
    padding: 80px;
}

/* Second Box*/
.info {
    background-color: white;
}

/* Third box*/
.quote {
    background-color: lightgray;
}

/* Fourth Box*/
.signup {
    background-color: white;
}

.left {
    flex: 1;
    display: flex;
    flex-direction:column;
    color: white;
    margin: 0px;
}

.left *{
    margin: 10px;
}
.left h2 {
    font-size: 48px;
    font-weight:bolder;
}

.left p {
    color: lightgray;
}

.left button {
    background-color: #3882F6;
    width: 23%;
    align-items: left;
    border-radius: 8px;
    border: none;
    color: inherit;
    font-weight: bold;
    padding: 5px;
}

.right {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}